<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Afores by C4C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36646ECF1CCC32D80025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36646EE31CCC32D80025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36646EEE1CCC32D80025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
