<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>c4c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36646E6A1CCB24B50025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36646E7E1CCB24B60025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36646E891CCB24B60025CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
